{% extends "title_base.html" %}
{% load staticfiles %}
{% block header_extends %}
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/common.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block content %}
    <body>
    <div class="header">
        <a href="/" class="logo" title="首页"><img alt="我的音乐" src="{% static 'image/logo.png' %}"></a>
        <div class="search-box">
            <form id="searchForm" action="{% url 'search' 1 %}" method="post" target="_blank">
                {% csrf_token %}
                <div class="search-keyword">
                    <input id="kword" name="kword" type="text" class="keyword" maxlength="120" placeholder="Keyword"/>
                </div>
                <input id="subSerch" type="submit" class="search-button" value="Search"/>
            </form>
            <div id="suggest" class="search-suggest"></div>
            <div class="search-hot-words">
                {% for song in search_song %}
                    <a target="play" href="{% url 'play' song.song.song_id %}">{{ song.song.song_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div><!--end header-->
    <div class="nav-box">
        <div class="nav-box-inner">
            <ul class="nav clearfix">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'ranking' %}" target="_blank">Ranking</a></li>
                <li><a href="{% url 'home' 1 %}" target="_blank">User Center</a></li>
            </ul>
        </div>
    </div><!--end nav-box-->
    <!--wrapper-->
    <div class="wrapper clearfix" id="wrapper">
        <div class="mod_songlist">
            <ul class="songlist__header">
                <li class="songlist__header_name">Title</li>
                <li class="songlist__header_author">Artist</li>
                <li class="songlist__header_time">Album</li>
            </ul>
            <ul class="songlist__list">
                {% for list in contacts.object_list %}
                    <li class="js_songlist__child">
                        <div class="songlist__item">
                            <div class="songlist__songname">
                        <span class="songlist__songname_txt">
                            <a href="{% url 'play' list.song_id %}" class="js_song" target="play">{{ list.song_title }}</a>
                        </span>
                            </div>
                            <div class="songlist__artist">
                                <a href="javascript:;" class="singer_name">{{ list.song_artist }}</a>
                            </div>
                            <div class="songlist__time">{{ list.song_album }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="page-box">
                <div class="pagebar" id="pageBar">
                    {% if contacts.has_previous %}
                        <a href="{% url 'search' contacts.previous_page_number %}" class="prev" target="_self"><i></i>Pre</a>
                    {% endif %}

                    {% for page in contacts.paginator.page_range %}
                        {% if contacts.number == page %}
                            <span class="sel">{{ page }}</span>
                        {% else %}
                            <a href="{% url 'search' page %}" target="_self">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if contacts.has_next %}
                        <a href="{% url 'search' contacts.next_page_number %}" class="next" target="_self">Next<i></i></a>
                    {% endif %}
                </div>
            </div>
        </div><!--end mod_songlist-->
    </div><!--end wrapper-->
    <!--footer-->

{% endblock %}
