<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Music SITE</title>
    {% block header_extends %}{% endblock %}
</head>
{% block content %}{% endblock %}
<div class="footer">
    <div class="copyright">
        <p>All information come from Internet.</p>
    </div>
</div>
</body>
</html>
